.header {
  height: 100px;
}

.tableHeader {
  height: 100px;
  clear: both;
}

.page {
  padding: 5px 0px 5px 10%;
}

#breadcrumbs {
  padding: 10px 10px 10px 0px;
}

h2 {
  color: #506680;
  font-family: Oswald, Helvetica, Arial,inherit;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: normal;
  vertical-align: baseline;
  display: block;
  zoom: 1;
}

.content {
  padding-right: 50%;
  padding-top: 10px;
}

.counties2 {
  stroke:grey;
  stroke-width: 0.5px;
  fill-opacity: 1;
}

.previousCountyName {
  background: white;
  }

div.mapTooltip {
  position: absolute;
  text-align: center;
  color: white;
  height: 25px;
  padding: 2px 10px 2px 10px;
  font-size: 10px;
  font-weight: bold;
  background: #444;
  border: 3px;
  border-radius: 2px;
  pointer-events: none;
}

div.pieTooltip {
  position: absolute;
  text-align: center;
  color: #444;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  pointer-events: none;
}

path.geo:hover {
  fill-opacity: 0.5;
  cursor: pointer;
}

path.chart:hover {
  fill-opacity: 0.8;
  cursor: pointer;
}

path.selected {
    fill-opacity: 0.5;
}

form {
width: 100%;
position: left;
right: 10px;
top: 10px;
padding: 0px 20px 20px 0px;
cursor: pointer;
}

.mapScale {
  cursor: pointer;
}

.mapScale label {
  padding-right: 20px;
  cursor: pointer;
  font-weight: normal;
  font-size: 10px;
}

.legend rect {
position: right;
fill:white;
stroke:black;
opacity:0.8;}

.ca {
  width: 500px;
  height: 500px;
  float: left;
  clear:left;
}

.pie {
  width: 50%;
  float: right;
}

.pieChart {
  width: 100%;
  height: 45%;
  position: relative;
}

label {
  float: left;
}

.tableHeader rect{
  fill: #444;
}

.tableHeader text{
  fill: white;
  font-size: 10px;
  font-family: Helvetica, Arial,inherit;
  text-anchor: middle;
  font-weight: bold;
  padding: 10px;
}

#countyHeaders {
  float: left;
}

.cell rect{
  fill: none;
  border-bottom: 2px black;
}

.cell rect:hover {
  fill: none;
}

.rowsGrp {
  clear: both;
}

.row {
  fill: black;
  border: 5px solid black;
  border-bottom: 2px black;
}

.row:hover{
  opacity: 0.5;
  cursor: pointer;
  color: red;
  padding: -10px;
}

.cell text{
  font-size: 10px;
  fill: #444;
  font-family: Helvetica, Arial,inherit;
  text-anchor: middle;
  background: none;
}

.row.selected {
    fill-opacity: 0.7;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    background: black;
}

#tabs {
  clear: both;
  float: left;
}

#countyTable{
overflow: scroll;
height: 500px;
float: left;
width: 463px;
clear: both;
border: 1px dotted lightGray;
}

#countyRow {
display: block;
width: 95%;
height: 1217px;
float: right;
border-left: 1px dotted lightGray;
}

#countyIndex {
  float: left;
  width: 20px;
  height: 1217px;
}

#countyPies {
  float:right
}

.hide{
    display: none;
  }

#nav {
  float: left;
  width: 150px;
}

.switch {
  position: relative;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 75px;
  line-height: 22px;
  font-size: 12px;
  font-family: font-family: Helvetica, Arial,inherit;
  color: #444;
  text-align: center;
  cursor: pointer;
}

.div1 {
  display: none;
}

.div1:checked + .switch-label {
  font-weight: bold;
  transition: 0.15s ease-out;
  color: rgb(255, 255, 255);
}

.div1:checked + .switch-label-on ~ .switch-selection {
  left: 75px;
}

.div2 {
  display: none;
}

.div2:checked + .switch-label-on ~ .switch-selection {
  left: 72px;
}

.div2:checked + .switch-label {
  font-weight: bold;
  transition: 0.15s ease-out;
  color: rgb(255, 255, 255);
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 72px;
  height: 18px;
  border-radius: 3px;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background-color: #444;
}

input[name="dataset"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    -o-appearance: checkbox;
}
