.header {
  height: 100px;
}

.page {
  padding: 5px 0px 5px 10%;
}

#breadcrumbs {
  padding: 10px 10px 10px 0px;
}

h2 {
  color: #506680;
  font-family: Oswald, Helvetica, Arial,inherit;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: normal;
  vertical-align: baseline;
  display: block;
  zoom: 1;
}

.content {
  padding-right: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
}
